.timeline {
  &::before {
    height: calc(100% - 1rem + 110px);

    @media (min-width: 768px) {
      height: calc(100% - 1rem + 174px);
    }
  }

  .timeline-item-embed {
    iframe {
      width: 100% !important;
    }
  }

  .timeline-item-has-audio {
    display: flex;
    align-items: center;
  }

  .timeline-item-has-audio::before {
    content: '';
    min-width: 24px;
    height: 22px;
    display: block;
    margin-right: 0.8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/icons/audio.svg');
  }

  .timeline-item-author {
    font-size: 12px;
  }
}
