@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './partials/page-header';

@import './sections/header';

.aspect-video,
.aspect-video-lg {
  iframe {
    height: 100%;
    width: 100%;
  }
}

.btn-grey {
  @apply rounded inline-flex items-center justify-center font-bold;

  background-color: #ececec;
}

.btn-secondary {
  @apply rounded inline-flex items-center justify-center text-white font-bold bg-secondary;
}
