@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './partials/page-header';
@import './partials/timeline';

@import './sections/header';

.aspect-video,
.aspect-video-lg {
  @supports not(aspect-ratio: 16 / 9) {
    mask-image: radial-gradient(white, black);

    &::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }

    iframe {
      @apply absolute top-0 left-0 bottom-0 right-0;
    }
  }

  iframe {
    @apply h-full w-full;
  }
}

.btn-grey {
  @apply rounded inline-flex items-center justify-center font-bold;

  background-color: #ececec;
}

.btn-primary {
  @apply inline-flex items-center justify-center text-secondary font-bold bg-primary;
}

.btn-secondary {
  @apply rounded inline-flex items-center justify-center text-white font-bold bg-secondary;
}

img[src="data:,"] {
  @apply hidden !important;
}
